
  
  /* Container to hold the film content */
  .film-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    transform: translateY(5%);
  }
  
  .film-container {
    padding: 20px;
  }
  
  .video-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .episode-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .episode-list button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .episode-list button.active {
    background-color: red;
  }
  
  .episode-list button:hover {
    background-color: #0056b3;
  }
  